.parent .child .title{
    color: red;
}

.parent .title{
    color: blue;
}

p , .title{
    color: green;
}

.words > div{
    width: fit-content;
    max-width: 400px;
    padding: 10px;
    margin: 10px;
    background-color: brown;
    color: white;
    line-height: 1.5;
    max-height: 40px;
}

.words .four{
    overflow: hidden;
}