/* https://elzero.org/css-assignments-lesson-from-42-to-45 */

/* :root {
    --mainColor: #009688;
    --mainPadding: 10px;
} */

body{
    font-family: Arial, Helvetica, sans-serif;
}

.one{
    background-color: #eee;
    width: 600px;
    height: 300px;
    text-align: center;
    padding: 20px;
    margin: 50px auto 20px;
    transition: margin 0.5s;
}

.one h2:last-child{
    background-color: #ddd;
    padding: 20px 0;
    transition: margin 0.5s;
    transition-delay: 0.5s;
}

.one:hover{
    margin-top: 20px;
}

.one:hover h2:last-child{
    margin-top: 50px;
}

.two{
    width: 400px;
    margin: 20px auto;
    text-align: center;
    background-color: #eee !important;
    color: black !important;
    border: none !important;
    font-size: 20px !important;
    text-indent: -600px;
    overflow: hidden;
}

.two::after{
    content: "Elzero";
    position: absolute;
    text-indent: 250px;
}

.three div{
    color: var(--mainColor , red);
    padding: var(--mainPadding , 20px);
    border: 2px solid var(--mainColor , black);
    width: 400px;
    margin: 20px auto;
    font-size: 24px;
}